@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");



/* Typeface */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    margin-top: 10px;
    margin-bottom: 0.6em;
    line-height: 1.5em;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #737373;
}

a:link {
    text-decoration: none;
    color: #0066ff;
}

a:hover {
    text-decoration: underline;
    color: #80b3ff;
}

a:visited {
    color: #0047b3;
}

p.card-text {
    margin-top: 8px;
}


/* Mobile First */
.main-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 80px 250px 6.5fr 0.25fr;
    grid-gap: 10px;
    grid-template-areas:
        "navbar"    
        "header"
        "content"
        "sidebar"
        "footer";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #e4e9e4;
    padding: 15px;
}

.header h1 {
    text-transform: uppercase;
}

.nav {
    grid-area: navbar;
    text-transform: capitalize;
    margin: 2% 5% 2% 5%;
    justify-content: space-evenly;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0% 5% 0% 5%;
}

.content {
    grid-area: content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0% 5% 0% 5%;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    margin: 0% 5% 0% 5%;
}

.footer p {
    margin-top: 60px;
}

.box {
    border-style: none;
    border-width: 1px;
    border-color: red;
}

.card {
    margin: 2% 10% 2% 10%;
}

.smlogo {
    height: 50px;
    width: 50px;
    margin: 10px 5px 10px 5px;
}


/* POST.HTML CSS */
.post-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 110px 0.25fr 4.5fr 100px;
}

.post {
    background-color: #f5fafa;
    margin: 5px 20px 20px 20px;
    padding: 10px;
    border: 0.25px ridge;
    border-radius: 20px;
}

.about {
    background-color: #f5fafa;
    margin: 5px 20px 10px 5px;
    padding: 10px;
    border: 0.25px ridge;
    border-radius: 20px;
}

.archive {
    background-color: #f5fafa;
    margin: 2px 20px 2px 5px;
    padding: 10px;
    border: 0.25px ridge;
    border-radius: 20px;
}

.post_head {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
}

.post_nav {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-content: center;
}

.post_content {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.post_sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-content: flex-start;
}

.post_footer {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    justify-content: center;
}

.post_footer p {
    margin-top: 60px;
}

.post h2, h6 {
    text-align: center;
}

.post p {
    text-align: justify;
}

div.polaroid {
    margin: auto 25px 25px auto;
    float: left;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post img {
    width:100%;
}

div.img_frame {
    text-align: center;
    padding: 10px 20px;
}

.post hr {
    width: 40%;
}

#prevpost {
    float: left;
    margin-left: 10px;
    margin-top: 50px;
}

#nextpost {
    float: right;
    margin-right: 10px;
    margin-top: 50px;
}


/* tablet devices */
@media(min-width: 480px) {
    
}

/* small screens, laptops */
@media(min-width: 932px) {
    .main-wrapper {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-auto-rows: 80px 250px 6.5fr 0.25fr;
        grid-gap: 10px;
        grid-template-areas:
            "navbar navbar"    
            "header header"
            "content sidebar"
            "footer footer";
    }

    .side-content {
        margin: 3% 5% 0% 0%;
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
    }

    .main-about img {
        width: 100px;
        height: 100px;
    }
}

/* large screens, desktops */
@media(min-width: 1024px) {

}