@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");



/* Typeface */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    margin-top: 10px;
    margin-bottom: 0.6em;
    line-height: 1.5em;
}

h1 {
    font-size: 6rem;
    font-weight: 600;
}

h2 {
    font-size: 4rem;
    font-weight: 500;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
}

h4 {
    font-size: 2.5rem;
    font-weight: 300;
}

h5 {
    font-size: 2rem;
    font-weight: 300;
}

h6 {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #737373;
}

a:link {
    text-decoration: none;
    color: #0066ff;
}

a:hover {
    text-decoration: underline;
    color: #80b3ff;
}

a:visited {
    color: #0047b3;
}

p.card-text {
    margin-top: 8px;
}


/* Mobile First */
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 110px 0.5fr 4.5fr 1fr;
    grid-template-areas:
        "hd hd hd hd"
        "nb nb nb nb"
        "ct ct ct ct"
        "ft ft ft ft";
}

.head {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    grid-area: nb;
    display: flex;
    justify-content: center;
}

.content {
    grid-area: ct;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer {
    grid-area: ft;
    display: flex;
    justify-content: center;
}

.footer p {
    margin-top: 60px;
}

.box {
    border-style: none;
    border-color: red;
}

.card {
    /*width: 25%;*/
    margin: 20px 20px 20px 20px;
}

.smlogo {
    height: 50px;
    width: 50px;
    margin: 10px 5px 10px 5px;
}


/* tablet devices */
@media(min-width: 480px) {
    
}

/* small screens, laptops */
@media(min-width: 768px) {

}

/* large screens, desktops */
@media(min-width: 1024px) {

}