/* Mobile First */
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 100vw;
    grid-auto-rows: 100px 50px 1fr;
    grid-template-areas:
        "hd hd hd hd"
        "nb nb nb nb"
        "ct ct ct ct"
        "ft ft ft ft";
}

.head {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    grid-area: nb;
    display: flex;
    justify-content: center;
}

.content {
    grid-area: ct;
    display: flex;
    justify-content: center;
}

.footer {
    grid-area: ft;
    display: flex;
    justify-content: center;
}

.box {
    border-style: solid;
    border-color: red;
}

/* tablet devices */
@media(min-width: 480px) {
    
}

/* small screens, laptops */
@media(min-width: 768px) {

}

/* large screens, desktops */
@media(min-width: 1024px) {

}