@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");



/* Typeface */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    margin-top: 10px;
    margin-bottom: 0.6em;
    line-height: 1.5em;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #737373;
}

p em {
    font-style: italic;
    font-weight: 500;
}

p b {
    font-weight: 900;
}

p u {
    font-weight: 400;
}

a:link {
    text-decoration: none;
    color: #0066ff;
}

a:hover {
    text-decoration: underline;
    color: #80b3ff;
}

a:visited {
    color: #0047b3;
}

p.card-text {
    margin-top: 8px;
}

blockquote {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.7rem;
    color: #ccc;
    text-align: center;
}


/* Mobile First */
.main-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 60px 250px 3fr 0.25fr;
    grid-gap: 10px;
    grid-template-areas:
        "navbar"    
        "header"
        "content"
        "sidebar"
        "footer";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #e4e9e4;
    padding: 15px;
}

.blog-title {
    text-transform: uppercase;
}

.nav {
    grid-area: navbar;
    text-transform: capitalize;
    margin-top: 2%;
    justify-content: space-evenly;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: content;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* box is used to help visualize the content layout */
.box {
    border-style: none;
    border-width: 1px;
    border-color: red;
}

.card {
    margin: 2% 10% 2% 10%;
}

.smlogo {
    height: 50px;
    width: 50px;
    margin: 10px 5px 10px 5px;
}

.main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#avatar {
    height: 80px;
    width: 80px;
}

ul {
    list-style-type: none;
}

.calendar-img {
    height: 24px;
    width: 24px;
}


/* POST.HTML CSS */
.post-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 60px 250px 2fr 0.25fr;
    grid-gap: 10px;
    grid-template-areas:
        "navbar"    
        "header"
        "content"
        "sidebar"
        "footer";
}

.post {
    /*background-color: #f8fafa;*/
    margin: 5px 20px 20px 20px;
    padding: 10px;
    border: 1px ridge;
}

.social-media {
    /*background-color: #f8fafa;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 20px 10px 5px;
    padding: 10px;
    /*border: 0.25px ridge;*/
}

.archive {
    background-color: #f8fafa;
    margin: 2px 20px 2px 5px;
    padding: 10px;
    /*border: 0.25px ridge;*/
}

.post-title {
    text-align: center;
}

.post-date {
    text-align: center;
}

.post-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 10px 50px 10px;
}

div.polaroid {
    margin: auto 25px 25px auto;
    float: left;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-img {
    width:100%;
}

.img-frame {
    text-align: center;
    padding: 10px 20px;
}

.post-hr {
    width: 50%;
}


/* tablet devices */
@media(min-width: 575px) {
    .content {
        grid-area: content;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
    }   
}

/* small screens, laptops */
@media(min-width: 932px) {
    .main-wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: 60px 250px 3fr 0.25fr;
        grid-gap: 5px;
        grid-template-areas:
            "navbar navbar"    
            "header header"
            "content sidebar"
            "footer footer";
    }

    .post-wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: 60px 250px 2fr 0.25fr;
        grid-gap: 5px;
        grid-template-areas:
            "navbar navbar"    
            "header header"
            "content sidebar"
            "footer footer";
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 12.5%;
    }

    .content {
        margin-left: 5%;
    }

    .sidebar-h2, .sidebar-p {
        margin: 2% 5% 12% 5%;
        text-align: center;
    }

    .main-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        text-align: left;
    }

    #avatar {
        height: 150px;
        width: 150px;
    }

    ul {
        list-style-type: none;
    }
}

/* large screens, desktops */
@media(min-width: 1024px) {
    .main-wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: 60px 250px 3fr 0.25fr;
        grid-gap: 20px;
        grid-template-areas:
            "navbar navbar"    
            "header header"
            "content sidebar"
            "footer footer";
    }

    .post-wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: 60px 250px 2fr 0.25fr;
        grid-gap: 20px;
        grid-template-areas:
            "navbar navbar"    
            "header header"
            "content sidebar"
            "footer footer";
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 25%;
    }

    .content {
        margin-left: 10%;
    }

    .sidebar-h2, .sidebar-p {
        margin: 2% 5% 12% 5%;
        text-align: center;
    }

    .main-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        text-align: left;
    }

    #avatar {
        height: 150px;
        width: 150px;
    }

    ul {
        list-style-type: none;
    }
}