/* POST.HTML CSS */
.post-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 60px 250px 2fr 0.25fr;
    grid-gap: 10px;
    grid-template-areas:
        "navbar"    
        "header"
        "content"
        "sidebar"
        "footer";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #e4e9e4;
    padding: 15px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nav {
    grid-area: navbar;
    text-transform: capitalize;
    margin-top: 2%;
    justify-content: space-evenly;
}

.content {
    grid-area: content;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.blog-title {
    text-transform: uppercase;
}

.post {
    margin: 5px 20px 20px 20px;
    padding: 10px;
    border: 0.5px ridge;
}

.post-title {
    text-align: center;
}

.post-date {
    text-align: center;
}

.post-hr {
    width: 50%;
}

.calendar-img {
    height: 24px;
    width: 24px;
}

div.polaroid {
    margin: auto 25px 25px auto;
    float: left;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-img {
    width:100%;
}

.img-frame {
    text-align: center;
    padding: 10px 20px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 20px 10px 5px;
    padding: 10px;
}

.archive {
    background-color: #f8fafa;
    margin: 2px 20px 2px 5px;
    padding: 10px;
}

.post-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 10px 50px 10px;
}

/* box is used to help visualize the content layout */
.box {
    border-style: none;
    border-width: 1px;
    border-color: red;
}

/* MEDIA QUERIES

/* tablet devices */
@media(min-width: 575px) {
    .content {
        grid-area: content;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
    }   
}

/* small screens, laptops */
@media(min-width: 932px) {
    .post-wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: 60px 250px 3fr 0.25fr;
        grid-gap: 5px;
        grid-template-areas:
            "navbar navbar"    
            "header header"
            "content sidebar"
            "footer footer";
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 12.5%;
    }

    .content {
        margin-left: 5%;
    }

    .footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .sidebar-h2, .sidebar-p {
        margin: 2% 5% 12% 5%;
        text-align: center;
    }

    ul {
        list-style-type: none;
    }
}

/* large screens, desktops */
@media(min-width: 1024px) {
    .post-wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: 60px 250px 3fr 0.25fr;
        grid-gap: 20px;
        grid-template-areas:
            "navbar navbar"    
            "header header"
            "content sidebar"
            "footer footer";
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 25%;
    }

    .content {
        margin-left: 10%;
    }

    .footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .sidebar-h2, .sidebar-p {
        margin: 2% 5% 12% 5%;
        text-align: center;
    }

    ul {
        list-style-type: none;
    }
}